@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/* This is a comment! */

/* CSS Syntax:
selector {
  property: value;
  property: value;
}

selectors are followed by semi-colons
always end with a semi-colon
*/

/* Type Selector */

p { /* select all <p> */
  font-size: 1em; /* 16px, or ?pt, or 100%, or 1em */
  line-height: 1.5em;
}

figcaption {
  /* font-weight: normal;
  font-size:0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Time Roman";*/
  font: normal 0.75em/1.5em "elsie swash caps", cursive;
  color: #777;
  text-align: right;

} 
/* If space in font name then must use quotations */

/* Class Selector (applied to as many as you like) */

.milk-text { /* select elements with class= "milk text" */
  font: bold 2.6em 'elsie swash caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;

}

/* ID Selector (apply to one unique element per page) */
#logo{
  background-color: aqua;
}
